@import "@/styles/varible";

@mixin title_static {
  color: $background-item;
  font-size: $title-upper-size;
  font-weight: $title-weight;
}
.title {
  @include title_static;
}

.section {
  padding: 0 10px;
}

.backMenu {
  display: flex;
  gap: 11px;
}
.container {
  width: 100%;
  max-width: calc(100% / 2);
  display: flex;
  justify-content: space-between;
}
.title_page {
  color: $second-text-color;
  font-size: $font-size-xl;
  font-weight: $title-weight;
  text-align: center;
}
.description_page {
  text-align: center;
  color: $background-item;
  font-weight: $title-weight;
  font-size: $title-upper-size;
}
.icons_list {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid $light-text-color;
  padding-bottom: 32px;
  margin-top: 63px;
   .icon_container {
    display: flex;
    align-items: center;
    color: $second-text-color;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    gap: 7px;
    font-weight: 500;
    > svg {
      width: 34px;
      height: 34px;
    }
  }
}
.section_inner {
  display: flex;
  margin-top: 33px;
}
.main_info {
  width: 100%;
  max-width: 1560px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.aside_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 30px;
  gap: 25px;
  width: 100%;
  max-width: 400px;
  border-radius: 24px;
  border: 1px solid $light-text-color;
  background: $background-option;
  margin-left: 104px;
  transition: all 0.3s;
  box-shadow:
    4px 4px 25px 0 rgba(160, 160, 160, 0.5),
    -4px -4px 25px 0px $light-text-color,
    4px 4px 35px 0px $light-text-color inset;
  &:hover{
    border:1px solid $background-item ;
  }

  .title {
    width: 100%;
    max-width: 341px;
    font-size: 25px;
    padding: 9px 0;
    text-align: center;
    border-radius: 50px;
    background: $light-text-color;
  }
}
.send_btn {
  border-radius: 50px;
  background: $background-item;
  width: 341px;
  height: 50px;
  color: $light-text-color;
  font-size: 25px;
  font-weight: 600;
}
.price_list {
    .price_item {
    color: $second-text-color;
    font-size: 18px;
    font-weight: $title-weight;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.mentor {
   .title {
    margin-bottom: 34px;
  }
  &_cards {
    width: 100%;
    max-width: 1557px;
    display: flex;
    margin-bottom: 141px;
    gap: 211px;
  }
  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_fullName {
    color: #000;
    font-family: "Unbounded", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  &_about {
    width: 100%;
    max-width: 231px;
    color: $second-text-color;
    font-family: "Unbounded", sans-serif;
    font-size: 15px;
    font-weight: $title-weight;
    padding-left: 20px;
  }
}

.title_courses {
  margin-bottom: 36px;
  > img {
    margin-bottom: 10px;
  }
  @include title_static;
}
