@import '@/styles/varible';

.count_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  width: 100%;
  min-height: 200px;
  border-radius: 24px;
  border: 1px solid $light-text-color;
  background: $background-option;
  box-shadow:
    4px 4px 25px 0 rgba(160, 160, 160, 0.5),
    -4px -4px 25px 0px $light-text-color,
    4px 4px 35px 0px #fff inset;
  padding: 20px 28px;
  .info_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
      .info_title {
        color: $main-text-color;
        font-size: 18px;
        font-weight: 500;
      }
      .info_quantity {
        color: $main-text-color;
        font-size: 28px;
        font-weight: 600;
      }
  }
  svg {
    width: 102px;
    height: 78px;
    stroke-width: 8px;
  }
}
