@import "@/styles/varible";

.home {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  &_title {
    font-family: Poppins, sans-serif;
    font-size: $title-upper-size;
    font-weight: 600;
    line-height: 1.1;
  }

  &_wrapper {
    flex: 1;

    display: flex;
  }
}
