@import "@/styles/varible";
@import "@/styles/plate-mixins";

.homeWidget {
  &_flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &_list {
    width: 100%;
    display: flex;
    gap: 20px;

    max-height: 200px;
    min-height: 180px;

    @media screen and (max-width: 1439px) {
      gap: 10px;
    }
  }

  &_item {
    width: 33.333%;

    &.add1 {
      width: 33.3333%;
    }

    &.add2 {
      flex: 1;
    }
  }

  &_itemInner {
    width: 100%;
    height: 100%;
    cursor: pointer;

    position: relative;

    @include plate-item;
  }

  &_itemInner:hover &_itemAddBtn:before,
  &_itemInner:hover &_itemAddBtn:after {
    background-color: $background-item;
  }

  &_option {
    font-size: 25px;
    color: $second-text-color;

    position: absolute;
    right: 10px;
    top: 0;
    z-index: 10;

    padding: 0 5px 5px 5px;

    transition: color 350ms ease;

    &:hover {
      color: $background-item;
    }
  }

  &_optionBtn {
    cursor: pointer;

    padding: 5px 0;
    border: none;

    font-size: $font-size-sm;
    font-weight: 600;

    color: $second-text-color;
    background-color: transparent;
    transition: color 350ms ease;

    &:hover {
      color: $background-item;
    }
  }

  &_itemAdd {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_itemAddBtn {
    @include plus-button;
  }
}
