@import '@/styles/varible';

.achievement_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px,1fr));
  grid-template-rows: repeat(auto-fill, 102px);
  width: 100%;
  max-width: 325px;
  grid-gap: 16px 39px;
  @media (max-width: 768px) {
    .achievement_container {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }
  //display: flex;
  //flex-wrap: wrap;
  //width: 100%;
  //max-width: 325px;
  //gap: 16px 53px;
}
.title {
  color: $main-text-color;
  font-size: 22px;
  font-weight: $title-weight;
  margin-bottom: 16px;
  margin-left: 17px;
}