@import "@/styles/varible";

.addWidget {
  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_wrapper {
    width: 190px;
    height: 180px;

    cursor: pointer;

    border: 1px solid #fff;
    transition: border-color 350ms ease;

    border-radius: 24px;
    background: #ededed;
    box-shadow:
      4px 4px 25px 0 rgba(160, 160, 160, 0.5),
      -4px -4px 25px 0px #fff,
      4px 4px 35px 0px #fff inset;

    &:hover {
      border-color: $background-item;
    }
  }
}
