@import "@/styles/varible";

.addWidget {
  position: absolute;
  bottom: 0;
  left: 50%;

  background-color: $background-body;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  max-width: 700px;
  width: 100%;
  min-height: 450px;
  height: 60vh;

  padding: 12px;

  &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &_item {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px;
  }

  &_wrapper {
    width: 190px;
    height: 180px;

    cursor: pointer;

    border: 1px solid #fff;
    transition: border-color 350ms ease;

    border-radius: 24px;
    background: #ededed;
    box-shadow:
      4px 4px 25px 0 rgba(160, 160, 160, 0.5),
      -4px -4px 25px 0px #fff,
      4px 4px 35px 0px #fff inset;

    &:hover {
      border-color: $background-item;
    }
  }
}
