@import "@/styles/varible";
.card_wrapper {
  width: 100%;
  max-width: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;

  .named {
    color: $second-text-color;
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
    font-weight: $title-weight;
  }

}
