.barWrapper {
  display: flex;
  color: #808191;
  gap: 40px;
  margin-top: 26px;
  > button {
    color: #808191;
    font-weight: 600;
    line-height: 24px;
    transition: all 0.3s linear;
    padding: 3px 12px;
    &:hover {
      color: #438ced;
      border-radius: 5px;
      background: #f3f3f3;
      box-shadow: 0px 0px 8px 0px rgba(67, 67, 67, 0.25) inset;
    }
  }
}
.supBarWrapper {
  border-radius: 8px;
  padding: 10px 25px;
  background: #fff;
  display: flex;
  color: #808191;
  margin-top: 26px;
  > button {
    display: flex;
    gap: 8px;
    color: #808191;
    font-weight: 600;
    line-height: 24px;
    transition: all 0.3s linear;
    padding: 3px 12px;
    cursor: pointer;
    &:hover {
      color: #438ced;
      border-radius: 5px;
      background: #f3f3f3;
      box-shadow: 0px 0px 8px 0px rgba(67, 67, 67, 0.25) inset;
    }
  }
  > img {
    margin-left: 20px;
  }
}
