/*----- Colors variables -----*/

//text
$main-text-color: #11142d;
$second-text-color: #808191;

$light-text-color: #ffffff;
$dark-text-color: #000000;

//ui
$background-body: #f2f2f2;
$accent-color: #ff754c;
$background-item: #438ced;

/*----- Font size -----*/

$font-size-xl: 25px;
$font-size-lg: 20px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

//title-home
$title-upper-size: 40px;
//title-weight
$title-weight: 600;

/*----- Mixins -----*/

//text
@mixin overflow-text($count-line) {
  display: -webkit-box;
  -webkit-line-clamp: $count-line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin section-title-text {
  font-family: Poppins, sans-serif;
  font-size: $font-size-xl;
  font-weight: 600;
  line-height: 1.1;
}

//create button styles
@mixin plus-button {
  width: 40px;
  height: 40px;

  border: none;
  border-radius: 50%;
  background: #e6e6e6;
  box-shadow:
    0 4px 6px 0 rgba(202, 202, 202, 0.48),
    -4px -4px 14px 0px rgba(255, 255, 255, 0.7),
    -4px -4px 20px 0px rgba(255, 255, 255, 0.7) inset;

  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 3px;
    height: 20px;
    background-color: #adadad;
    transition: background-color 350ms ease;

    position: absolute;
  }

  &::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $background-item;
  }
}
