/*----- Colors variables -----*/

//text
$main-text-color: #11142d;
$second-text-color: #808191;

$light-text-color: #ffffff;
$dark-text-color: #000000;

//ui
$background-body: #f2f2f2;
$accent-color: #ff754c;
$background-item: #438ced;

/*----- Font size -----*/

//title
$title-upper-size: 40px;
$title-lower-size: 25px;

//subtitle
$subtitle-upper-size: 25px;
$subtitle-lower-size: 16px;

//text
$text-upper-size: 16px;
$text-lower-size: 14px;

//weight
$title-weight: 600;

/*----- Mixins -----*/

//text
@mixin overflow-text($count-line) {
  display: -webkit-box;
  -webkit-line-clamp: $count-line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin section-title-text {
  font-family: Poppins, sans-serif;
  font-size: $title-lower-size;
  font-weight: 600;
  line-height: 1.1;
}
