.addWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  height: 200px;
  border-radius: 24px;
  border: 1px solid #fff;
  background: #ededed;
  box-shadow:
    4px 4px 25px 0 rgba(160, 160, 160, 0.5),
    -4px -4px 25px 0px #fff,
    4px 4px 35px 0px #fff inset;
}
.btnAdd {
  > svg {
    width: 40px;
    height: 40px;
  }
}
