@import "@/styles/varible";

.aside {
  width: 280px;
  border-right: 1px solid #e4e4e4;
  height: 100%;

  display: flex;
  flex-direction: column;

  &_wrapperLogo {
    height: 132px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_logo {
    font-size: 32px;
    font-family: Poppins, sans-serif;
    font-weight: $title-weight;

    > span {
      color: $accent-color;
    }
  }

  &_listMenuWrapper {
    width: 100%;
    flex: 1;
    overflow: hidden;
  }

  &_listMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &_listMenu::-webkit-scrollbar {
    width: 0;
  }

  &_itemMenu {
    height: 58px;
    width: 100%;

    padding: 20px;
    cursor: pointer;

    font-size: $text-upper-size;
    font-weight: 600;
    line-height: 1.4;
    color: $second-text-color;

    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-property: background, box-shadow, color;
  }

  &_itemMenu:hover,
  &_itemMenu.active {
    background: linear-gradient(
        113deg,
        rgba(255, 255, 255, 0.3) 3.67%,
        rgba(255, 255, 255, 0) 96.3%
      ),
      #f2f2f2;
    box-shadow:
      -8px -8px 17px 0px rgba(255, 255, 255, 0.7) inset,
      8px 8px 9px 0px rgba(176, 176, 176, 0.2) inset;
    color: #676767;
  }

  &_linkMenu {
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 100%;
  }

  &_imgMenu {
    margin-right: 13px;
    width: 30px;
    height: 30px;
  }

  &_wrapperUser {
    display: flex;
    align-items: center;
    padding: 0 10px 0 20px;
    width: 100%;
    height: 90px;

    border-top: 1px solid #e4e4e4;
  }

  &_imgAvatar {
    width: 40px;
    height: 40px;
  }

  &_wrapperUserName {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 5px 0 10px;
  }

  &_userName {
    font-size: $text-upper-size;
    font-weight: 600;
    line-height: 1.42;
    width: 100%;

    @include overflow-text(1);
  }

  &_userRole {
    font-size: $text-lower-size;
    color: $second-text-color;
    line-height: 1.38;

    @include overflow-text(1);
  }

  &_wrapperChangeIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }
}
