@import "@/styles/varible";

.aside {
  display: block;
  width: 70px;
  height: 100vh;
  position: relative;

  &.active {
    width: 280px;
  }

  //@media screen and (max-width: 1279px) and (min-width: 768px) {
  //  width: 70px;
  //  &.active {
  //    width: 70px;
  //  }
  //}

  &_inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    border-right: 1px solid #e4e4e4;
    height: 100%;

    display: flex;
    flex-direction: column;

    transition: width 350ms ease;
    z-index: 50;
    background-color: $background-body;
  }
  &_inner.active,
  &_inner:hover {
    width: 280px;
  }

  &_wrapperLogo {
    height: 132px;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1279px) and (min-width: 768px) {
      height: 80px;
    }
  }

  &_logo {
    font-size: 32px;
    font-family: Poppins, sans-serif;
    font-weight: $title-weight;
    display: none;

    > span {
      color: $accent-color;
    }
  }

  &_inner:hover &_logo,
  &_inner.active &_logo {
    display: initial;
  }

  &_logoV2 {
    width: 50px;
    height: auto;
    display: block;
  }

  &_inner:hover &_logoV2,
  &_inner.active &_logoV2 {
    display: none;
  }

  &_listMenuWrapper {
    width: 100%;
    flex: 1;
    overflow: hidden;
  }

  &_listMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &_listMenu::-webkit-scrollbar {
    width: 0;
  }

  &_itemMenu {
    height: 58px;
    width: 100%;

    padding: 0 20px;
    cursor: pointer;

    color: $second-text-color;
    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-property: background, box-shadow, color;

    @media screen and (max-width: 1279px) and (min-width: 768px) {
      padding: 0;
      height: 48px;
    }
  }

  &_itemMenu:hover,
  &_itemMenu.active {
    background: linear-gradient(
        113deg,
        rgba(255, 255, 255, 0.3) 3.67%,
        rgba(255, 255, 255, 0) 96.3%
      ),
      #f2f2f2;
    box-shadow:
      -8px -8px 17px 0px rgba(255, 255, 255, 0.7) inset,
      8px 8px 9px 0px rgba(176, 176, 176, 0.2) inset;
    color: #676767;
  }

  &_linkMenu {
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 100%;

    @media screen and (max-width: 1279px) and (min-width: 768px) {
      justify-content: center;
    }
  }

  &_imgMenu {
    margin-right: 12px;
    width: 30px;
    height: 30px;

    @media screen and (max-width: 1279px) and (min-width: 768px) {
      margin-right: 0;
    }
  }

  &_linkText {
    font-size: $text-upper-size;
    font-weight: 600;
    line-height: 1.4;
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms ease 300ms;
  }

  &_inner:hover &_linkText,
  &_inner.active &_linkText {
    visibility: visible;
    opacity: 1;
  }

  &_wrapperUser {
    display: flex;
    align-items: center;
    padding: 0 10px 0 20px;
    width: 100%;
    height: 90px;

    border-top: 1px solid #e4e4e4;

    @media screen and (max-width: 1279px) and (min-width: 768px) {
      padding: 0 5px;
      justify-content: center;
    }
  }

  &_imgAvatar {
    width: 40px;
    height: 40px;
  }

  &_wrapperUserName {
    flex-direction: column;
    flex: 1;
    padding: 0 5px 0 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms ease 300ms;
  }

  &_inner:hover &_wrapperUserName,
  &_inner.active &_wrapperUserName {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  &_userName {
    font-size: $text-upper-size;
    font-weight: 600;
    line-height: 1.42;
    width: 100%;

    @include overflow-text(1);
  }

  &_userRole {
    font-size: $text-lower-size;
    color: $second-text-color;
    line-height: 1.38;

    @include overflow-text(1);
  }

  &_wrapperChangeIcon {
    display: none;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  &_inner:hover &_wrapperChangeIcon,
  &_inner.active &_wrapperChangeIcon {
    display: flex;
  }
}
