@import '@/styles/varible';

.cardWrapper{
    display: flex;
    gap: 42px;
    margin-top: 20px;
}
.card{
    width:100%;
    max-width: 400px;
    border-radius: 24px;
    border: 1px solid $light-text-color;
    background: $background-option;
    box-shadow: 4px 4px 25px 0px rgba(160, 160, 160, 0.50), -4px -4px 25px 0px $light-text-color, 4px 4px 35px 0px $light-text-color inset;
    padding:23px 31px 22px 21px
}
.cardImg{
    margin-bottom:27px;
    
}
.cardTop{
    display:flex;
    gap: 11px;
}
.iconWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: $light-text-color;
    >svg{
        width: 28px;
        height: 23px;
    }
}
.cardBottomContent{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top:6px;

}
.title{
    text-align: center;
    padding-top:5px;
    width: 229px;
    height: 35px;
    color: $background-item;
    font-size: $font-size-lg;
    font-weight: 600;
    border-radius: 30px;
    background: $light-text-color;
}
.subtitle{
    text-align: center;
    width: 100px;
    color: $background-item;
    font-size: $font-size-lg;
    font-weight: 600;
    border-radius: 30px;
    background: $light-text-color;
    padding: 10px 0;
}
.subtitleWrapper{
    display: flex;
    align-items:center;
    margin-top: 8px;
    gap: 9px;
    > li { 
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px 6px;
        background-color: $light-text-color;
        border-radius: 50%;
            > svg{
                width: 28px;
                height: 22px;
                
            }
        }
}

.barWrapper {
    display: flex;
    gap:20px;
    padding-bottom:7px;
    border-bottom: 1px solid $light-text-color;
    >li{
        display: flex;
        align-items: center;
        >svg {
            width:34px;
            height:34px;
            margin-right: 7px;
            
            &:first-child{
                width:46px;
                margin-right: 12px;
            }
           
        }
    }
   
}
.descriptions{
    color: $second-text-color;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}