.friendWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 27px;
  width: 100%;
  max-width: 275px;
  min-height: 200px;
  border-radius: 24px;
  border: 1px solid #fff;
  background: #ededed;
  box-shadow:
    4px 4px 25px 0 rgba(160, 160, 160, 0.5),
    -4px -4px 25px 0px #fff,
    4px 4px 35px 0px #fff inset;
  padding: 24px 36px;
  .infoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    margin-bottom: 23px;
    h1 {
      color: #11142d;
      font-size: 22px;
      font-weight: 600;
    }
    h2 {
      color: #11142d;
      font-size: 22px;
      font-weight: 600;
    }
  }
  svg {
    width: 155px;
    height: 115px;
  }
}
