@import "@/styles/varible";

.ad {
  flex: 1;
  margin-top: 20px;
  padding-right: 40px;
  padding-left: 34px;
  margin-left: -34px;

  max-height: calc(100vh - 120px);

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  display: grid;
  grid-template-rows: 1fr 250px;

  &::-webkit-scrollbar {
    width: 0;
  }

  &_sliderWrapper {
  }

  &_widgetWrapper {
  }
}
