@import '@/styles/varible';

.listWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 275px;
  min-height: 325px;
  border-radius: 24px;
  border: 1px solid $light-text-color;
  background: $background-option;
  box-shadow:
    4px 4px 25px 0 rgba(160, 160, 160, 0.5),
    -4px -4px 25px 0px $light-text-color,
    4px 4px 35px 0px $light-text-color inset;
  > ul {
    display: flex;
    flex-direction: column;
    gap: 35px;
    > li {
      display: flex;
      align-items: center;
      gap: 16px;
      color: $main-text-color;
      font-size: $font-size-md;
      font-weight: 600;
    }
  }
}

.settings {
  display: flex;
  align-items: center;
  background-color: $accent-color;
  position: absolute;
  padding: 9px;
  border-radius: 50%;
  right: 25px;
  bottom: 17px;
  cursor: pointer;
}
