@import "@/styles/varible";

.schedule {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  &_titleWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &_title {
    @include section-title-text;
  }

  &_wrapper {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-top: 15px;
  }

  &_container {
    flex: 1;

    display: flex;
    box-shadow:
      8px 8px 10px rgba(204, 204, 204, 0.3),
      -8px -8px 10px #fff;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 5px solid transparent;
    padding: 10px;
  }

  &_innerContainer {
    border-radius: 50px;
    box-shadow:
      -8px -8px 17px 0px rgba(255, 255, 255, 0.7) inset,
      8px 8px 9px 0px rgba(176, 176, 176, 0.3) inset;

    display: flex;
    flex-direction: column;
    align-items: center;

    &.main {
      flex: 1;
    }

    &.infoDesktop {
      width: 350px;
      margin-left: 10px;
      padding: 30px;
      position: relative;
    }

    &.infoLaptop {
    }
  }
}

.info {
  &_wrapperDefault {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_textDefault {
    color: $second-text-color;
    text-align: center;
  }
}
