@import "@/styles/varible";

.singin {
  width: 100vw;
  height: 100vh;

  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  &_parallax {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;

    @media (max-width: 1000px) {
      transform: translate(5%, 0);
      width: 175%;
    }

    path.movementY {
      animation: triangle-animation-top-down 7s infinite linear;
    }
    path.movementX {
      animation: triangle-animation-left-right 7s infinite linear;
    }
  }

  &_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100vw;
    max-height: 100vh;
    overflow-y: auto;
  }

  &_wrapperForm {
    padding: 15px;
    box-shadow:
      8px 8px 10px rgba(204, 204, 204, 0.3),
      -8px -8px 10px #fff;

    //border-radius: 35px;
    border-radius: 15px;
    background: $background-body;
    max-width: 630px;
    width: 100%;
  }

  &_logoWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &_logoImg {
    width: 55px;
    height: auto;
    margin-right: 15px;
    background-color: $background-body;
    border-radius: 50%;
  }

  &_logoText {
    font-size: 40px;
    font-weight: $title-weight;
    font-family: Poppins, sans-serif;

    > span {
      color: $accent-color;
    }
  }
}

@keyframes triangle-animation-top-down {
  0% {
    transform: translate(0px, -5px);
  }
  50% {
    transform: translate(0px, 5px);
  }
  100% {
    transform: translate(0px, -5px);
  }
}
@keyframes triangle-animation-left-right {
  0% {
    transform: translate(5px, 0px);
  }
  50% {
    transform: translate(-5px, 0px);
  }
  100% {
    transform: translate(5px, 0px);
  }
}
